<h1>
  Edit performance #<%= @performance.id %>
</h1>

<hr>

<form action="/update_performance/<%= @performance.id %>" method="post">

  <div class="form-group">
    <label for="workout_id">
      Workout
    </label>

    <%= select_tag(:workout_id, options_from_collection_for_select(Workout.all, :id, :date, @performance.workout_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="reps">
      Reps
    </label>

    <input type="text" id="reps" name="reps" class="form-control" value="<%= @performance.reps %>">
  </div>

  <div class="form-group">
    <label for="sets">
      Sets
    </label>

    <input type="text" id="sets" name="sets" class="form-control" value="<%= @performance.sets %>">
  </div>

  <div class="form-group">
    <label for="weight">
      Weight
    </label>

    <input type="text" id="weight" name="weight" class="form-control" value="<%= @performance.weight %>">
  </div>

  <div class="form-group">
    <label for="exercise_id">
      Exercise
    </label>

    <%= select_tag(:exercise_id, options_from_collection_for_select(Exercise.all, :id, :name, @performance.exercise_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update performance
  </button>
</form>

<hr>

<a href="/performances">
  Go back
</a>
