<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All performances
    </h1>

    <a href="/performances/new" class="btn btn-block btn-outline-secondary">
      Add a new performance
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "performance_templates/performances_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Workout
        </th>

        <th>
          Reps
        </th>

        <th>
          Sets
        </th>

        <th>
          Weight
        </th>

        <th>
          Exercise
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @performances.each do |performance| %>
      <tr>
        <td>
          <%= performance.id %>
        </td>

        <td>
          <% if performance.workout.present? %>
            <a href="/workouts/<%= performance.workout.id %>">
              <%= performance.workout.date %>
            </a>
          <% end %>
        </td>

        <td>
          <%= performance.reps %>
        </td>

        <td>
          <%= performance.sets %>
        </td>

        <td>
          <%= performance.weight %>
        </td>

        <td>
          <% if performance.exercise.present? %>
            <a href="/exercises/<%= performance.exercise.id %>">
              <%= performance.exercise.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(performance.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(performance.updated_at) %> ago
        </td>

        <td>
          <a href="/performances/<%= performance.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @performances, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
